.exportButton {
  border: 1px solid #0c9bf2;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2em 1em;
  text-decoration: none;
  border-radius: 3px;
}

.exportButton h4 {
  color: #0c9bf2;
}